<html>
    <body>
        <h1>商户 1234 </h1>
        <form action="/pay" method="POST">
            支付类型: 
            支付宝：<input type="radio" name="pay_type" value="100">
            微信：<input type="radio" name="pay_type" value="200" checked="checked"><br>



            0.1 元
            <input type="radio" name="product" value="1" checked="checked" />  <br />
            0.2 元
            <input type="radio" name="product" value="2"/>  <br />
            1.0 元
            <input type="radio" name="product" value="4"/>  <br />
            10 元
            <input type="radio" name="product" value="3"/>  <br />
            <br />

            <input type="submit" value="Submit">
        </form>
    </body>
</html>