<html>
    <body>
        <form action="/pay" method="POST">
            商户UID: 
            <input type="text" name="uid" value="227591459098857472"><br>
            Secret: 
            <input type="text" name="secret" value="7hvszwk1b182tvjzjpezi4hx9gvmkir0"><br>

            支付类型: 
            <input type="text" name="pay_type" value="100"><br>

            金额:
            <input type="text" name="price" value="10">(分)<br>
            商品名:
            <input type="text" name="goodsname" value="测试商品1"><br>

            <br />

            <input type="submit" value="Submit">
        </form>
    </body>
</html>