<html>
    <body>
        <form action="/order/check" method="POST">
            商户UID: 
            <input type="text" name="uid" value="227591459098857472"><br>
            Secret: 
            <input type="text" name="secret" value="7hvszwk1b182tvjzjpezi4hx9gvmkir0"><br>

            商户订单号: 
            <input type="text" name="orderid" value="1000000"><br>

            凭证图片地址:
            <input type="text" name="certimg" value=""><br>

            <br />
            <input type="submit" value="Submit">
        </form>
    </body>
</html>